$color-border: rgba(74, 206, 255, 0.38);
$color-text: rgb(156, 228, 255);

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  // background: #00000040;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.control {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 50px auto; */
  margin: 0px auto;
  top: 100px;
  background: #00000094;
  width: 200px;
}

.control__button {
  margin: 10px 0;
  color: $color-text;
  background: black;
  border: solid 1px $color-border;
  padding: 10px;
  cursor: pointer;
}

.control__input {
  display: none;
}

.test {
  color: white;
}

.cropped {
  top: 0;
}

.drag-box {
  border: solid 1px $color-border;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #00000094;
  flex-direction: column;
  color: $color-text;
}

.drag-box--control {
  border-width: 3px;

  .move-target {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px;
  }
}