body {
  margin: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.overlay {
  background: #000000ab;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.control {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 50px auto; */
  margin: 0px auto;
  top: 100px;
  background: #00000094;
  width: 200px;
}

/* .control.control--active {
  position: absolute;
} */

.control__button {
  margin: 10px 0;
}

.control__input {
  display: none;
}

.test {
  color: white;
}

.cropped {
  top: 0;
}
