.progress-bar {
  position: relative;
  height: 20px;
  width: 175px;
  background: #e3f2fd;
}

.progress-bar__filler {
  background: #2196f3;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.progress-bar__button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 14px;
  background: #d14836;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  outline: 0;
}

.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
